<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019732627869-77t2lokmvrhuutg1b1g7gag56ep7v5oq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019732627869-77t2lokmvrhuutg1b1g7gag56ep7v5oq</string>
	<key>API_KEY</key>
	<string>AIzaSyDVyBR-L8J15T6myQuNHDn97ZrgIVOln3I</string>
	<key>GCM_SENDER_ID</key>
	<string>1019732627869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.tomokazu.takahashi.ScanApp1</string>
	<key>PROJECT_ID</key>
	<string>scanapp1-436ea</string>
	<key>STORAGE_BUCKET</key>
	<string>scanapp1-436ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019732627869:ios:3082e78499234665ad9f74</string>
	<key>DATABASE_URL</key>
	<string>https://scanapp1-436ea.firebaseio.com</string>
</dict>
</plist>